<div class="mdl-typography--text-center center">
    <h1 TRANSLATE="OUR_STORY"></h1>

    <div class="content-grid mdl-grid">
        <div class="content-column mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--12-col-phone mdl-cell--top">
            <img class="jam" src="assets/img/helloSir.png"/>
            <p><br></p>
            <p>Hello Sir, how are you today ?</p>
        </div>
        <div class="content-column mdl-cell mdl-cell--5-col mdl-cell--2-col-tablet mdl-cell--12-col-phone mdl-cell--middle">
            <h2 TRANSLATE="STORY"></h2>
        </div>

        </div>
    <div class="mdl-typography--text-center center blueBackground padding-10">
    <h1 style="color:white" TRANSLATE="OUR_TEAM"></h1>

    <div class="content-grid mdl-grid">

        <div class="content-column mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--12-col-phone mdl-cell--top ">
            <h2 translate="TEAM_SIMONINI_BIOGRAPHY"></h2>
            <p translate="TEAM_SIMONINI"></p>
        </div>
        <div class="content-column mdl-cell mdl-cell--5-col mdl-cell--2-col-tablet mdl-cell--12-col-phone mdl-cell--middle">

            <div class="content-column mdl-cell mdl-cell--5-col mdl-cell--2-col-tablet mdl-cell--12-col-phone mdl-cell--middle">
               <div class="center"><img src="assets/img/SIMONINITHOMAS.png" alt="SIMONINI Thomas"/></div>
            </div>
        </div>

    </div>
        </div>




</div>

<div class="mdl-typography--text-center center white padding-10">
    <h1 TRANSLATE="BE_PART_OF_THE_HISTORY"></h1>
    <div class="mdl-grid">

            <h3 translate="JOBS_PARAGRAPH_YOU" translate-compile></h3>
    </div>
        <a href="mailto:contact@newsswipe.io"><button class="mdl-button mdl-button--raised blue">{{"F_CONTACT" | translate }}</button></a>

    </div>







<div class="mdl-typography--text-center center grey padding-10">
    <div class="mdl-typography--text-center center">
        <h1 style="color:black;">{{ "KEEP_IN_TOUCH" | translate }}</h1>
        <h3 translate="SOCIAL_MEDIAS"></h3>
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect facebookButton">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect instagramButton">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect twitterButton">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect linkedinButton">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </button>
        <p><br></p>
        <h3 translate="MAILING_LIST"></h3>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:lightgrey; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
            <form action="//Hello-computer-games.us9.list-manage.com/subscribe/post?u=b299ebe1bb3a00f1718412b27&amp;id=895a2d7a90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b299ebe1bb3a00f1718412b27_895a2d7a90" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" translate="MAILING_LIST_BUTTON" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->
        <p><br></p>
    </div>
</div>