<div class="mdl-typography--text-center center">
    <h1 translate="THANKS" translate-compile></h1>

    <h3 translate="THANKS_SUBTITLE" translate-compile></h3>

</div>
</div>
<div class="mdl-typography--text-center center grey padding-10">
    <div class="mdl-typography--text-center center">
        <h1 style="color: black;">{{ "MORE_INFORMATION" | translate }}</h1>
        <a href="mailto:contact@newsswipe.io"><button class="mdl-button mdl-button--raised blue">{{"F_CONTACT" | translate }}</button></a>
        <p><br></p>
    </div>
</div>

<div class="mdl-typography--text-center center white padding-10">
    <div class="mdl-typography--text-center center">
        <h1 style="color:black;">{{ "KEEP_IN_TOUCH" | translate }}</h1>
        <!-- Colored FAB button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect facebookButton">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect instagramButton">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect twitterButton">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect linkedinButton">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </button>
        <p><br></p>
    </div>
</div>